body {
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0%;
}
.key {
  border: 1px solid #999999;
  background-color: #282828;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  min-width: 150px;
  color: aliceblue;
  position: relative;
}
h1 {
  text-align: center;
  color: aliceblue;
  position: absolute;
  top: 19px;
  font-size: 35px;
}
.key small {
  position: absolute;
  top: -24px;
  left: 0%;
  text-align: center;
  color: #c4c4c4;
  width: 100%;
  font-size: 14px;
}
